@import "colorPalette";

/* Font families */
// $primary-font: "primary-font-web", serif;
$adelle: "adelle", serif;
$adelle-cond: "adelle-condensed", serif;
$adelle-sans: "adelle-sans", sans-serif;

$primary-font: #{$adelle};
$secondary-font: #{$adelle};

/* Font colors */
$text-dark: #484c51;
$text-light: #a1a1a1;

/* Font Presets */
.rex-label {
  font-family: $primary-font;
  font-weight: 400;
  color: $text-dark;

}

h1, h2, h3, h4, h5, h6, p, span, a, button {
  font-family: $primary-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

.subhead-2 {
  font-family: $adelle;
  font-size: 20px;
  color: $text-dark;
  font-weight: 600;
}
